<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="field">
    Note: Your account will need to be approved to sign in.
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<hr>

<h3>What is Los Santos Call Center?</h3>

<p>
Los Santos Call Center is your telemarketing solution for local business in Los Santos. We specialize in the advertisement of Real Estate, Commercial Products, Vehicles, Public Officials, Mayoral Candidates and Civil Protest.
</p>
<p>
In addition to advertisement, we at Los Santos Call Center maintain the largest database of potential clients living in Los Santos and it's growing all the time! We collect all of our information legally from publicly avaliable sources and it's never shared with anyone outside of our company. Because of this, we at Los Santos Call center can uniquely conduct anonymous surveys in which statistical data can be collected for private, political or government agencies.
</p><br>
<h3>Can I have a job?</h3>
<p>
Yes, you can. We are currently hiring individuals with experience in retail who are willing to work in our out of an office. If you would like to have a job interview you may visit our local office for an in person one-on-one interview. The address for our office is:<br> <u>2203 East Beach Apartment Complex Room. 08.</u>
</p><br>
<h3>Can you guys sell something I have?</h3>
<p>
That's how we make money, and yes, of course we can. The process of selling any item or assortment of items is a security deposit of usually one-tenth of the price of the item you wish to sell. If we cannot sell the item for you we will fully refund this security deposit and you can go about your way. Here at Los Santos Call Center, we are so confident in our work that we offer this money back guarentee so that you don't have to stress over anything. You keep your car, house or something else safe, and we sell it for you through one-on-one conversations with clients over the phone.
</p>

<br><br>

<p>Have a great day!</p>